node_modules/
.env
dist/
build/
.dart_tool/
.packages
.pub-cache/
.pub/
/build/
*.iml
.idea/
.vscode/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
coverage/
.next/
out/
venv310/
venv/
__pycache__/
*.zip